* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background-color: #1c1c1c;
  color: #ffffff;
  font-family: Arial, sans-serif;
}


header {
  background-color: #111;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
}

.logo {
  font-size: 1.4rem;
}

.logo span {
  color: red;
}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-links a {
  color: white;
  text-decoration: none;
  margin: 0 1rem;
}


.btn {
  background-color: #b30000;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  text-decoration: none;
  margin-left: 0.5rem;
}


.hero {
  position: relative;
  height: 150px;
  overflow: hidden;
  
}

.hero-img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center top;
    z-index: 0;
}

.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.hero-content {
  position: relative;
  z-index: 2;
  padding: 1rem;
  color: white;
}



main {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 2rem;
  padding: 2rem;
}

.movies {
  margin-bottom: 3rem;
}

.movie-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1rem;
}

.movie-card img {
  width: 100%;
  border-radius: 5px;
}

.movie-card:hover {
  transform: scale(1.05);
  transition: 0.3s;
}


.sidebar section {
  background-color: #2a2a2a;
  padding: 1rem;
  margin-bottom: 1rem;
}

.sidebar ul {
  list-style: none;
  margin-top: 0.5rem;
}

.sidebar li {
  margin-bottom: 0.5rem;
}


footer {
  background-color: #111;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  padding: 2rem;
}